input {
  height: 35px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 18px;
  padding: 3px;
  margin-bottom: 15px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

pre {
  background-color: #afafaf;
  padding: 20px;
  display: inline-block;
}
